extends layout

block content
	div.angular-content(ng-controller="IndexCtrl" style="display:none;")
		#menu
			ul(class="nav nav-tabs nav-justified", id="indexNavTab", role="tablist")
				li.active
					a.item(href='#home', showtab="", data-toggle="tab", role="tab", aria-controls="home")
						span.glyphicon.glyphicon-home(aria-hidden='true')
				li
					a.item(href='#proposerShopping', data-toggle="tab", role="tab", aria-controls="proposerShopping") Je propose un shopping !
				li
					a.item(href='#demanderShopping', data-toggle="tab", role="tab", aria-controls="demanderShopping") Je demande un shopping !
		.tab-content
			#home.tab-pane.fade.in.active
				.row
					.col-md-12
						.explain
							h1 ShopMeOut : mes courses collaboratives !
							p Tu as besoin d’une course mais tu n’es pas dispo ?
							p Quelqu’un peut sûrement y aller pour toi !!!
							p Ta solution ?
							p ShopMeOut ou comment faire des courses collaboratives !
				.row
					.col-md-12
						.reasons
							h1 Les 3 bonnes raisons d'utiliser ShopMeOut !
							.row
								.col
									.col-md-4
										.thumbnail
											h3 Impossible de te déplacer ?
											img(id="imgReason1", src='#{baseUrl}/images/Gif-Besoin-Service.gif', alt='')
											.caption
												p Des shoppeurs peuvent te venir en aide !
								.col
									.col-md-4
										.thumbnail
											h3 Envie de rendre service ?
											img(id="imgReason2", src='#{baseUrl}/images/Echange-Service.png', alt='')
											.caption
												p Des bookeurs ont besoin de toi !
								.col
									.col-md-4
										.thumbnail
											h3 Overbooké(e) ?
											img(id="imgReason3", src='#{baseUrl}/images/shoppeur.png', alt='')
											.caption
												p Des shoppeurs sont dispos pour tes courses !
				div(class="usersOfSMO")
					.row
						div(ng-if="(resultRandomPostShops.length != 0) || (resultRandomNeedShops.length != 0)")
							.col-md-12
								.usersOfSMO
									h1 Ils utilisent ShopMeOut !
					.row(ng-if="resultRandomPostShops.length != 0")
						.col-md-10.col-md-offset-1
							.row
								.col-xs-4(ng-repeat="r in resultRandomPostShops")
									.panel.panel-default(class="bgOrange")
										.panel-heading Shoppeur {{r.prenom}} {{r.nom | firstLetter}}. propose
										.panel-body(class="resultCard")
											span.glyphicon.glyphicon-map-marker
											span {{r.magasin}} - {{r.adresse}}
											br
											span.glyphicon.glyphicon-calendar
											span {{r.date | date:"dd/MM/yyyy"}}
											br
											span.glyphicon.glyphicon-user
											span {{r.nbShoppeur}} shoppeurs
											br
											span.glyphicon.glyphicon-shopping-cart
											span {{r.nbArticle | nbArticleLabel}} articles
					.row(ng-if="resultRandomNeedShops.length != 0")
						.col-md-10.col-md-offset-1
							.row
								.col-xs-4(ng-repeat="r in resultRandomNeedShops")
									.panel.panel-default.bgBlue
										.panel-heading Bookeur {{r.prenom}} {{r.nom | firstLetter}}. demande
										.panel-body.resultCard
											span.glyphicon.glyphicon-map-marker 
											span {{r.adresse}}
											br
											span.glyphicon.glyphicon-calendar
											span {{r.date | date:"dd/MM/yyyy"}}
											br
											span.glyphicon.glyphicon-shopping-cart
											span {{r.nbArticle}} articles
			#proposerShopping.tab-pane.fade
				include ./postShop/proposerShopping.jade
			#demanderShopping.tab-pane.fade
				include ./needShop/demanderShopping.jade
block styles
	link(rel='stylesheet', href='#{baseUrl}/stylesheets/index.css')
block scripts
	script(type='text/javascript' src='#{baseUrl}/javascripts/index/index.js')