doctype html
html
	head
		title= title
		link(rel='stylesheet', href='#{baseUrl}/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='#{baseUrl}/stylesheets/main.css')
		link(rel='stylesheet', href='#{baseUrl}/stylesheets/header.css')
		link(rel='stylesheet', href='#{baseUrl}/stylesheets/footer.css')
		link(rel='stylesheet', href='#{baseUrl}/stylesheets/faq.css')
		block styles
		script(src='#{baseUrl}/javascripts/inc/angular.min.js')
		script(src='#{baseUrl}/javascripts/inc/angular-route.js')
		script(src='#{baseUrl}/javascripts/main.js')
		script(src="#{baseUrl}/javascripts/users/userSignIn.js")
		script(src="#{baseUrl}/javascripts/users/userSignUp.js")
		block scripts-header
	body
		.container(ng-app="sample")
			include ./include/header.jade
			block content
			include ./include/footer.jade
			include ./users/signUp.jade
			include ./users/signIn.jade
		script(src='#{baseUrl}/javascripts/inc/jquery-2.2.2.min.js')
		script(src='#{baseUrl}/javascripts/inc/jquery-ui.js')
		script(src='#{baseUrl}/bootstrap/js/bootstrap.min.js')
		script(src="#{baseUrl}/javascripts/inc/crypto-sha1.js")
		block scripts
